@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/montserrat/Montserrat-SemiBold.eot");
  src: local("Montserrat"), local("Montserrat-SemiBold"),
    url("/public/fonts/montserrat/Montserrat-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("/public/fonts/montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("/public/fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/public/fonts/mulish/Mulish-Regular.eot");
  src: local("Mulish"), local("Mulish"),
    url("/public/fonts/mulish/Mulish-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/mulish/Mulish-Regular.woff2") format("woff2"),
    url("/public/fonts/mulish/Mulish-Regular.woff") format("woff"),
    url("/public/fonts/mulish/Mulish-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/public/fonts/mulish/Mulish-Medium.eot");
  src: local("Mulish"), local("Mulish"),
    url("/public/fonts/mulish/Mulish-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/mulish/Mulish-Medium.woff2") format("woff2"),
    url("/public/fonts/mulish/Mulish-Medium.woff") format("woff"),
    url("/public/fonts/mulish/Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/public/fonts/mulish/Mulish-SemiBold.eot");
  src: local("Mulish"), local("Mulish"),
    url("/public/fonts/mulish/Mulish-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/mulish/Mulish-SemiBold.woff2") format("woff2"),
    url("/public/fonts/mulish/Mulish-SemiBold.woff") format("woff"),
    url("/public/fonts/mulish/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/public/fonts/mulish/Mulish-Bold.eot");
  src: local("Mulish"), local("Mulish"),
    url("/public/fonts/mulish/Mulish-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/mulish/Mulish-Bold.woff2") format("woff2"),
    url("/public/fonts/mulish/Mulish-Bold.woff") format("woff"),
    url("/public/fonts/mulish/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Mulish;
}
